.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 24px;
  animation: appear 0.4s ease-in-out;
}

.card h1 {
  margin: 0;
  font-size: 15em;
  line-height: 1;
  margin-bottom: 0.2em;
  font-family: 'Shippori Mincho', serif;
}

.input {
  width: 200px;
  background: transparent;
  border: none;
  text-align: center;
  font-size: 40px;
  outline: none;
  font-family: 'Jost', sans-serif;
}

.input:disabled {
  color: unset;
}

@supports (-webkit-touch-callout: none) {
  /* iOS won't autofocus, so we highlight the input */
  .input {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
  }
}

.feedback {
  height: 2em;
  line-height: 1;
  font-size: 2em;
  margin-top: 0.2em;
  font-family: 'Jost', sans-serif;
}

.feedbackError {
  color: rgb(145, 40, 22);
  animation: appear 0.4s ease-in-out;
}

.feedbackCorrect {
  animation: appear 0.4s ease-in-out;
  color: white;
}

@keyframes help {
  from {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.help {
  font-size: 1.2em;
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;
  text-align: center;
  animation: help 5s ease-in-out;
  animation-iteration-count: 1;
  opacity: 0;
}
